body {
  width: auto;
  height: auto;
  white-space: nowrap;
  background-color: #999999;
  color: white;
}

.hidden {
  display: none;
}
.error {
  color: white;
  font-weight: bold;
}
